*{
    padding:0;
    margin:0;
    font-family: 'Josefin sans', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
   
}
.personal{
    position:relative;
    width:100%;
    height:100vh;
    background:#F8F7F1;
    
}
nav{
    display:flex;
    width:84%;
    margin:auto;
    padding: 20px 0;
    align-items:center;
    justify-content: space-between;

}
nav ul li{
    display: inline-block;
    list-style:none;
    margin:10px 20px;

}
nav ul li a{
    text-decoration:none;
    color:#000;
    font-weight: bold;
}
nav ul li a:hover{
     color:red;
}
.bio{
    margin-left: 8%;
    margin-top: 8%;

}
.bio h1{
    font-size: 50px;
    color: #212121;
    margin-bottom:20px;

}
span{
    color:orange;
}
.bio p{
    color:#555;
    line-height: 22px;

}
/* .bio a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;

} */
.images{
    width:45%;
    height:80%;
    position: absolute;
    bottom: 0;
    right: 100px;

}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50);
    transition: bottom 1s, left 1s;
}
.images:hover .shape{
 bottom: 40px;
}
.images:hover .photo{
    left: 45%;
}
.exper{
background: #fff;
position: relative;
height:100vh;
width:100%;
}
.desc{
   margin-top:5%;
     box-shadow: 5px 10px 12px 15px #888888;
     position: absolute;
     right: 100px;
     height: 40vh;
}
.brief {
    margin-top: 40px;
}
.educ{
background: #F8F7F1;
position: relative;

height:100vh;
width:100%;
}
.details{
    box-shadow: 5px 10px 12px 15px #888888;
    position: absolute;
    background: #fff;
    left: 100px;
    width:80%;
    margin-top:10%;
    height: 60vh;
}
